:host {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/welcome-bg.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}