<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Smart Home</a>
    <a (click)="openSideMenu()" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="left hide-on-med-and-down">
      <li><a (click)="openSideMenu()">MENU</a></li>
    </ul>

    <ul class="right hide-on-med-and-down">
        <li><a routerLink="login">Login</a></li>
      </ul>

    <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
            <div class="background">
              <img src="assets/images/menu-bg.png">
            </div>
            <a href="#!user"><img class="circle" src="assets/images/profile.png"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div>
        </li>
      <li *ngFor="let menuItem of menuItems" routerLinkActive="active">
        <a (click)="hideMenu()" [routerLink]="[menuItem.route]">{{menuItem?.name}}</a>
      </li>
      <li><a (click)="logout()">Wyloguj</a></li>
    </ul>
    <a materialize="sideNav" [materializeParams]="[{edge:'left'}]" href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>