<!-- TO DO LOGIN -->


<div class="row">

  <!-- LOGIN -->
  <div class="col s12 m6">
    <div class="card">
      <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
        <div class="card-content">
          <span class="card-title">Logowanie</span>
          <input name="email" type="email" placeholder="e-mail" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <input name="password" type="password" placeholder="hasło" ngModel required minlength="6">
        </div>
        <div class="card-action">
            <button [disabled]="!loginForm.valid" class="waves-effect waves-light btn blue darken-3">Zaloguj</button>
        </div>
      </form>
    </div>
  </div>

<!-- REGISTER -->
  <div class="col s12 m6">
      <div class="card">
        <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
          <div class="card-content">
              <span class="card-title">Rejestracja</span>
              <input name="email" type="email" placeholder="e-mail" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <input name="password" type="password" placeholder="hasło" ngModel required minlength="6">
          </div>
          <div class="card-action">
            <button [disabled]="!registerForm.valid" class="waves-effect waves-light btn blue darken-3">Zarejestruj</button>
          </div>
        </form>
      </div>
    </div>
</div>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{ modalData?.title }}</h4>
    <p>{{ modalData?.message }}</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-blue btn-flat">OK</a>
  </div>
</div>